# always needed
KEY_FILE=

# assignment 1
EMAIL=
GITHUB_URL=
PRECOMPUTED_NONCE=

# assignment 2 (and 3)
TEAMMATES=
GROUP_ID=

# assignment 3
BLOCKCHAIN_COMMUNITY_ID=4245426c6f636b636861696e4c61623332303236
# By default only the lowest-pubkey member registers, set to 1 to force this node to register
FORCE_REGISTER=
